@charset "utf-8";
/* CSS 重置 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td ,span, object, iframe{ padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
q:before, q:after { content:""; }
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:block;zoom:1}
.clear {display:block;clear:both;}
/* CSS Document */
/*公共部分*/
body{ background-color:#f2f2f2; color:#000; font-family:Arial, Helvetica, sans-serif;background:url(../images/bg.jpg) repeat;}
.wrapper{ height:100%; width:100%;}
.page{width:320px;}
.page,.w_page{font-size:14px; color:#333; margin:0 auto; }
.w_page_bg{ background:#f3f3f3;}
.header{ width:320px;}
.header,.w_header{ background: -webkit-gradient(linear,center top,center bottom,from(#fff), color-stop(0.24,#fff), color-stop(0.7,#e8e2f2), color-stop(0.96,#c9c3d9),to(#c9c3d9)); height:50px; position:relative; z-index:1000;}
.header_bg{background-size:278px 50px; background-image:url(../images/banner_bg.gif); background-repeat:no-repeat; width:278px; height:50px; position:absolute;}
.text_gradient{ font-family:"微软雅黑"; font-weight:700; font-size:18px; line-height:52px; color:#83005c; display:inline-block; text-shadow:1px 1px 1px #fff; position:absolute;right:6px}
.box_border{ border:1px solid #d2aeca; border-radius:5px; box-shadow:0px 1px 1px #c0c0c0; display:block; margin:4px; background-color:#fff; font-family:"微软雅黑"; font-size:14px; color:#181e20;}
.blank{ height:4px}
.font1{ color:#747677;}
.font2{ color:#ed4b56;}
.font3{ color:#6c0055;}
.font4{ color:#aa187d;}

*{-webkit-tap-highlight-color: rgba(0,0,0,0);}
/*二级页面header*/
.w_header_child{ background: -webkit-gradient(linear,center top,center bottom,from(#ffffff), color-stop(0.46,#e8e2f2), to(#c9c3d9)); height:50px; position:relative; box-shadow:0px -2px 10px #000;}
.header_bg_child{background-size:246px 50px; background-image:url(../images/banner_bg2.jpg); background-repeat:no-repeat; width:246px; height:50px; margin:0 auto; display:block; position:relative}
.header_bg_child .text_gradient_child{ font-family:"微软雅黑"; font-weight:700; font-size:18px; line-height:52px; color:#83005c; text-shadow:1px 1px 1px #fff; text-align:center; display:block}
.btnBack{background:url(../images/btn_back_1.png) no-repeat; background-size:30px 34px; width:30px; height:34px; cursor:pointer; top:10px; display:block;left:10px; position:absolute;}
.btnBack:active{background:url(../images/btn_back_2.png) no-repeat; background-size:30px 34px; width:30px; height:34px;}
.btnNext,.btnBack1{cursor:pointer; width:50px; height:30px; position:absolute; top:10px; border:1px solid #c9c3d9; box-shadow:1px 1px 1px #fff; border-radius:10px; background: -webkit-gradient(linear,center top,center bottom,from(#ffffff),to(#e2dcee));  font-size:16px; font-family:"微软雅黑"; text-shadow:1px 1px 2px #ffffff;text-align:center; line-height:30px; z-index:1001}
.btnNext{ right:10px;}
.btnBack1{ left:10px;}
.btnNext a,.btnBack1 a{text-decoration:none;color:#6b4992; display:block; width:100%;}
.btnNext:active,.btnBack1:active{ width:50px; height:30px; background: -webkit-gradient(linear,center top,center bottom,from(#e2dcee),to(#ffffff));}
.w_header_child .btnBack a{ display:block; width:100%; height:100%; opacity:0}
/*列表页面公共样式*/
.w_page,.w_header{width:100%;}
.maskBg,.maskBg1{ position:fixed; left:0; top:0; width:100%; height:100%; opacity:0.3; filter:alpha(opacity=30); background-color:#000; z-index:99}
.mask_filter{ position:fixed; left:0; top:0; width:100%; height:100%; background:#f2f2f2; z-index:99}
.mask_set{ position:fixed; left:0; top:50px; width:100%; height:100%; background:#f2f2f2; z-index:1001}
.mask_order{position:fixed; left:0; top:0px; width:100%; height:100%; opacity:0.3; filter:alpha(opacity=30); background-color:#000; z-index:1001}
/*----------------------------------------------------------------------------------------------------------------------------------*/
/*微信绑定*/
.textbox{ border:1px solid #cccccc; border-radius:5px; line-height:27px; display:block; width:48%; float:left;}
.name{cursor: pointer; line-height:27px; font-size:14px; font-family:"微软雅黑"; text-indent:5px; float:left; text-indent:4px; text-align:right; width:90px}
.ui_radio,.ui_text {clear:both; padding-top:10px;}
.ui_radio,.ui_checkbox{position:relative;}
.btn_code a{ background-image:url(../images/btn_sendCode_1.png); background-size:66px 28px; display:block; width:66px; height:28px; font-size:12px;  color:#430038; font-family:"微软雅黑"; line-height:26px;float:right; margin-right:2px; cursor:pointer; text-align:center}
.btn_code a:active{ background-image:url(../images/btn_sendCode_2.png); background-size:66px 28px; display:block; width:66px; height:28px; font-size:12px;  color:#430038; font-family:"微软雅黑"; line-height:26px;float:right; margin-right:2px; cursor:pointer; text-align:center}
.btn_code_disabled{ background-image:url(../images/btn_sendCode_3.png); background-size:66px 28px; display:block; width:66px; height:28px; font-size:12px;  color:#909090; font-family:"微软雅黑"; line-height:26px;float:right; margin-right:2px; cursor:pointer; text-align:center}

#btn_bind{ margin:40px auto 0 auto; cursor:pointer;}
#btn_bind{ background:url(../images/btn_bind_1.png); width:311px; height:34px; background-size:311px 34px; border:0; color:#fff; text-align:center; text-shadow:-1px -1px 1px #666; font-size:16px; font-family:"微软雅黑"; text-decoration:none; display:block; line-height:34px}
#btn_bind:active{background-image:url(../images/btn_bind_2.png); width:311px; height:34px;}
/*radioBtn-CSS-Style & checkbox-CSS-Style*/
:root .ui_radio label,:root .ui_radio input[type="radio"] + span,
:root .ui_radio input[type="radio"] + span::before,
:root .ui_checkbox input[type="checkbox"] + span,
:root .ui_checkbox input[type="checkbox"] + span::before{ display:inline-block; vertical-align:middle;}
:root .ui_radio input[type="radio"],
:root .ui_checkbox input[type="checkbox"]{opacity: 0;position: absolute;}
:root .ui_radio input[type="radio"] + span;
:root .ui_checkbox input[type="checkbox"] + span;
{font-family:"微软雅黑"; font-size:14px; color:#181e20; line-height:22px}
:root .ui_radio label:hover span::before,
:root .ui_checkbox label:hover span::before{ -webkit-box-shadow: 0 0 2px #ccc;box-shadow: 0 0 2px #181e20;}
:root .ui_radio label:hover span,
:root .ui_checkbox label:hover span{color: #181e20;}
:root .ui_radio input[type="radio"] + span::before{content: "";width:16px;height:16px; line-height:12px; -webkit-border-radius:100%; 
-moz-border-radius:100%; -webkit-border-radius:100%; background:#fff;box-shadow:1px 1px 2px #666666 inset;  border:1px solid #e0e0e0;} 
:root .ui_checkbox input[type="checkbox"] + span::before{content: "";width:18px;height:18px; line-height:12px; background:#fff; box-shadow:1px 1px 1px #e5e4e4 inset;  border:1px solid #cccccc;}
:root .ui_radio input[type="radio"]:checked + span::before{ color:#780061; content: "\2022";font-size: 28px; line-height:16px; text-align:center;} 
:root .ui_checkbox input[type="checkbox"]:checked + span::before{ color:#aa187d; content: "\2714";font-size:22px; line-height:12px; text-indent:0.8px}
:root .ui_radio input[type="radio"]:disabled + span{cursor: default;-webkit-opacity: .4;}
:root .ui_checkbox input[type="checkbox"]:disabled + span{ cursor:default; color:#aa187d}
/*radioBtn-CSS-Style & checkbox-CSS-Style*/

/*绑定说明*/
.col_title,.payNow{ font-size:14px; line-height:36px; font-family:"微软雅黑"; font-weight:bold; color:#181e20; text-indent:18px; cursor:pointer}
.col_foot{ font-size:14px; line-height:36px; font-family:"微软雅黑"; font-weight:bold; color:#181e20; float:left;width:100px; cursor:pointer}
.quit{ font-size:14px; line-height:36px; font-family:"微软雅黑"; font-weight:bold; color:#181e20; text-indent:18px; cursor:pointer}
.lucky{ font-size:14px; line-height:36px; font-family:"微软雅黑"; font-weight:bold; color:#181e20; text-indent:18px; cursor:pointer}
.btn_arrow,.btn_arrow1,.btn_arrow2,.btn_arrow3,.btn_arrow4,.btn_arrow5{float:right; margin-top:12px; margin-right:16px; display:block; background-image:url(../images/arrow_1.png); background-repeat:no-repeat; background-size:14px 14px; width:14px; height:14px}
.btn_arrow.on,.btn_arrow1.on,.btn_arrow2.on,.btn_arrow3.on,.btn_arrow4.on,.btn_arrow5.on{float:right; margin-top:12px; margin-right:16px; display:block;  background-image:url(../images/arrow_2.png); background-repeat:no-repeat; background-size:14px 14px; width:14px; height:14px}
.bindInfo{background-color:#f5f5f5; opacity:0.5;}
.bindInfo p{border-top:1px solid #b67aa9; font-size:14px; text-align:left; font-weight:normal; line-height:22px; font-family:"微软雅黑"; margin:0 8px; padding-top:10px; opacity:1; color:#000; padding-bottom:10px}
/*绑定成功*/
.bind_success{ margin-top:30px}
.box_head{ background-color:#e0bbd4; font-size:18px; font-family:"微软雅黑"; color:#420039; text-shadow:1px 1px 1px #fff; text-align:center; line-height:36px; border-top-radius:4px;}
.box_info{ color:#747677; text-align:center; width:100%; font-size:16px; height:135x; line-height:28px;}

/*营销推广--活动详情*/
.ad_img{ margin:0 auto; padding:6px;} 
.ad_img img,.sDetail_pic img{ width:100%; height:auto; overflow:hidden; display:inline-block}
.ad_title{ font-size:18px; font-weight:bold; color:#420039; text-indent:0.8em; text-align:left; line-height:40px; text-shadow:1px 1px 1px #FFFFFF; font-family:"微软雅黑"; background:#faf5f9; height:40px; border:1px solid #d2aeca; border-left:0; border-right:0}
.ad_info{ background:#fff; color:#747677; font-size:16px; line-height:26px; border-radius:0px 0 5px 5px; border:0}
.ad_info div{ border-bottom:1px solid #f2f2f2; text-indent:0.8em; display:block; padding:8px 0;}
.ad_info div span.t_name{ display:block; float:left;}
.ad_info div span.t_info{ display:block; margin-left:90px; text-indent:0}
.ad_info div span.t_content{ display:block;}

/*订单追踪*/
.order_page{ overflow:hidden;}
.order_box,.order_box3,.order_box4,.order_box5,.order_box6{border:1px solid #d2aeca; border-radius:5px; box-shadow:0px 1px 1px #c0c0c0; display:block; background-color:#fff; font-family:"微软雅黑"; font-size:16px; color:#181e20;height:auto; margin-left:4px; margin-right:4px;  margin-bottom:6px; overflow:hidden; cursor:pointer}
.order_box2{ border:0;box-shadow:0px 1px 1px #c0c0c0; display:block;font-family:"微软雅黑"; font-size:14px; color:#181e20; margin-left:4px; margin-right:4px; height:auto; overflow:hidden;}

.order_box table tr td{ text-align:left; width:auto; cursor:pointer; line-height:22px; height:36px; padding-left:6px}
.order_box table .line,.order_box table tr{ border-bottom:1px solid #f2f2f2; font-size:14px;}
.order_box table .border_bottom,.bor_bottom,.order_box5 table tr{border-bottom:1px solid #f2f2f2;}
.sup_bor_bottom{ border-bottom:1px solid #d2aeca;}

.order_box h2{ display:block; height:40px; line-height:40px; cursor:pointer; font-size:14px; }
.order_box h2 span.text1{float:left; margin-left:4px;}
.order_box h2 span.text2{ float:right; margin-right:4px;}
.order_box h2 span font{ color:#8a1564;}
.thead{border-radius:5px 5px 0 0; background-color:#f8f2f7; height:40px; line-height:40px; border:1px solid #d2aeca; font-size:16px}
.tbody{ width:auto;  border-left:1px solid #d2aeca; border-right:1px solid #d2aeca; background-color:#fff;height:auto}
.thead ul li,.tbody ul li,.tfoot ul li{ list-style:none; cursor:pointer;}
.thead li,.tbody li span, .tfoot li{ float:left; text-align:center; text-indent:0.6em; width:auto}
.tbody li{ height:40px; line-height:40px; border-bottom:1px solid #f2f2f2;}
.tfoot{ border:1px solid #d2aeca; border:1px 1px 1px 0; height:40px; line-height:40px; color:#79005e;rigth:6px; left:6px; background:#fff;border-radius:0 0 5px 5px; margin-bottom:6px}
.order_box p{ border-bottom:1px solid #f2f2f2; height:40px; line-height:40px; text-indent:0.6em; width:auto;color:#747677;}

/*营销推广--新品推荐*/
.list{ font-family:"微软雅黑"; background:#f3f3f3;}
.trade_list{font-family:"微软雅黑"; }
.trade_list ul li{ list-style:none;}
.trade_list li{ border-bottom:1px solid #d2aeca; padding-top:4px; padding-bottom:4px}
.trade_list ul li a{ overflow:hidden; display: -webkit-box; text-decoration:none; cursor:pointer;}
.trade_list .item_pic img{ height:100px; width:auto; display:block; margin:0 auto; max-width:80px;}
.trade_list .item_pic{ width:80px;height:100px;}
.trade_list .item_info{-webkit-box-flex:1; text-align:left; font-size:16px; line-height:32px; position:relative; color:#181e20}
.trade_list .item_info em{ color:#79005e; font-size:18px; font-style:normal;}
.trade_list .item_info font{ color:#747677; font-size:16px;}
.trade_list .item_info span{ color:#8a1564; font-size:18px; line-height:24px;}
.item_arrow{-webkit-font-smoothing: antialiased; margin-top:34px; margin-right:5px}
.item_arrow span{-webkit-transform: scale(0.7); display: block;float: right;width: 20px;height: 20px;overflow: hidden;box-sizing: border-box;background:url(../images/arrow_lft_1.png) center right no-repeat;background-size: 100%; padding-top:20px}

.brand_list{font-family:"微软雅黑";}
.brand_list ul li{ list-style:none;}
.brand_list li{ border-bottom:1px solid #d2aeca; padding-top:4px; padding-bottom:4px}
.brand_list ul li a{ overflow:hidden; display: -webkit-box; text-decoration:none; cursor:pointer;}
.brand_list .item_pic img{ height:100px; width:auto; display:block; margin:0 auto; max-width:80px;}
.brand_list .item_pic{ width:80px;height:100px;}
.brand_list .item_info{-webkit-box-flex:1; text-align:left; font-size:14px; line-height:24px; position:relative; color:#181e20}
.brand_list .item_info{ line-height:24px}
.brand_list .item_info em{ color:#79005e; font-size:18px; font-style:normal;}
.brand_list .item_info font{ color:#747677; font-size:14px;}
.brand_list.item_info span{ color:#8a1564; font-size:18px; line-height:24px;}

.list{ font-family:"微软雅黑"; background:#f3f3f3;}
.list ul li{ list-style:none;}
.list li{ border-bottom:1px solid #d2aeca; padding-top:4px; padding-bottom:4px}
.list ul li a{ overflow:hidden; display: -webkit-box; text-decoration:none; cursor:pointer;}
.list .item_pic img{ height:100px; width:auto; display:block; margin:0 auto; max-width:80px;}
.list .item_pic{ width:80px;height:100px;}
.list .item_info{-webkit-box-flex:1; text-align:left; font-size:15px; line-height:26px; position:relative; color:#181e20}
.list .item_info em{ color:#79005e; font-size:18px; font-style:normal;}
.list .item_info font{ color:#747677; font-size:15px;}
.list .item_info span{ color:#8a1564; font-size:18px; line-height:24px;}
.item_arrow{-webkit-font-smoothing: antialiased; margin-top:34px; margin-right:5px}
.item_arrow span{-webkit-transform: scale(0.7); display: block;float: right;width: 20px;height: 20px;overflow: hidden;box-sizing: border-box;background:url(../images/arrow_lft_1.png) center right no-repeat;background-size: 100%; padding-top:20px}

/*营销推广--新品推荐 -- 详情*/
.brandOrderInfo{background:#e0bbd4; border-radius:8px; width:270px; height:200px; z-index:1002; -webkit-box-shadow:0px 2px 5px rgba(0,0,0,0.5); display:block; left:50%; position:fixed; top:70px; margin-left:-134px;}
.brandOrderInfo_box{ background:#9d7794;  margin:0px 6px 6px 6px; border-radius:8px; font-family:"微软雅黑", Arial;}
.brandOrderInfo h1{ text-align:center; color:#79005e; text-shadow:1px 1px 1px #fff; font-size:16px; line-height:34px; font-weight:700;}
.brandOrderInfo_box p{ padding:0 6px; font-size:14px; color:#fff; line-height:28px;text-shadow:1px 1px 1px #5a224b; text-indent:6px}
.brandOrderInfo_box font{ font-weight:700;}
.brandScrollBox{ position:fixed; left:0px; right:0px; top:56px; bottom:2px;}


/*营销推广--卷烟详情*/
.brandInfo{ width:320px; margin:0 auto; height:140px}
.brand_pic{width:100px;height:120px;background-color:#fff; -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);float:left; margin:8px 10px 8px 20px}
.brand_pic img{ height:110px; width:auto; display:block; margin:0 auto; max-width:100px; padding:5px 0;}
.brand_text{ display:block; float:left; margin-top:6px;}
.brand_text p{ color:#420039; font-size:16px; text-align:center; line-height:30px; font-family:"微软雅黑", "Arial Unicode MS"; font-weight:500}
.brand_text ul{ list-style:none;font-size:15px; color:#181e20; line-height:22px; font-family:"微软雅黑";}
.brand_text ul li .text1{display:inline-block;}
.brand_text ul li .text2{ color:#747677;}
.brand_text ul li .text3{ color:#8a1564; font-size:16px; line-height:28px; font-weight:500;}

.brand_main{ margin:0 auto; padding:0;position:relative;width:100%;}
.tab1 p{ font-size:14px; font-family:"微软雅黑"; line-height:24px; padding:6px 8px; display:block; word-break: break-all; text-indent:2em;color:#747677;}
.tab2_head{ height:120px; position:relative;}
.tab2_sumScore{  position:absolute; left:8px; top:6px;line-height:30px}
.tab2_sumScore font{ font-size:14px; color:#747677; font-style:italic; position:absolute; left:8px; top:74px}

.rStars{height:30px; float:left; width:130px; cursor:pointer;text-indent:-9999px; background-position:0 0; background:url(../images/star.png) no-repeat;} 
.rStar span{ text-align:right;float:left; width:70px; line-height:34px; display:inline;color:#747677; font-size:14px; font-family:"微软雅黑";}
.rStar{ left:90px}
.rStarScore{ font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:30px; color:#747677;}

.tab3_head{ height:104px; position: relative;}
.tab3_star,.tab2_star{ padding-top:6px}
.star,.rStar{position:relative;width:220px;height:30px;}
.star ul,.star span{float:left;display:inline;color:#747677; font-size:14px}
.star span{ text-align:right; width:70px; line-height:34px}
.star ul{ margin:0; padding:0}
.star li{float:left;width:26px;cursor:pointer;text-indent:-9999px;background:url(../images/star_01.png) no-repeat; height:30px}
.star strong,.rStar strong{color:#aa187d; font-family:Arial, Helvetica, sans-serif; font-size:14px; position:absolute; left:200px; top:-2px}
.star li.on{background-position:0 -30px;}

.tab3_sumScore{ position:absolute; right:8px; top:6px; line-height:30px}
.tab3_sumScore h2,.tab2_sumScore h2{ font-size:16px; font-family:"微软雅黑"; color:#420039; display:inline-block}
.tab3_sumScore span,.tab2_sumScore span{ font-style:oblique; font-family:"微软雅黑"; color:#8a1564; font-size:18px;}
.tab3_comment label{color:#747677; font-size:16px; line-height:30px; height:30px;}
.tab3_comment textarea{border:1px solid #cccccc; border-radius:5px; line-height:28px; display:block; width:98%; height:150px; margin:0 auto; margin-bottom:12px; font-size:14px; overflow:hidden; font-family:"微软雅黑";}
#tab3_btn a{ height:40px; width:auto; background: -webkit-gradient(linear,center top,center bottom,from(#fff), color-stop(0.64,#e6e6e6), to(#efdde9)); box-shadow:1px 1px 2px #ceb8c6; border-radius:0 0 5px 5px; border-top:1px solid #d2aeca; color:#79005e; text-align:center; line-height:40px; text-shadow:1px 1px 1px #fff; font-family:"微软雅黑"; font-size:16px; text-decoration:none; display:block; cursor:pointer}
#tab3_btn a:active{ height:40px; width:auto; background: -webkit-gradient(linear,center top,center bottom,from(#efdde9), color-stop(0.64,#e6e6e6), to(#fff)); height:40px;}

.comm_title{ color:#420039; font-family:"微软雅黑"; font-size:16px; text-indent:1.2em; height:36px; line-height:36px;border-top:1px solid #d2aeca; cursor:pointer;}
.comm_title span{ color:#747677; font-size:13px; margin-left:6px}
.comm_info1,.comm_info2,.comm_info3,.comm_info4{border-top:1px solid #d2aeca;}
.comm_info1 ul li,.comm_info2 ul li,.comm_info3 ul li,.supDetail ul li{ list-style:none; }
.comm_info1 li,.comm_info2 li,.comm_info3 li{ border-bottom:1px solid #f2f2f2; height:auto;padding:6px}
.supDetail li{ border-top:1px solid #d2aeca; height:auto; padding:6px;}
.comm_info1 li table tr td,.comm_info2 li table tr td,.comm_info3 li table tr td,.supDetail li table tr td{ color:747677; font-size:14px; font-family:"微软雅黑"; line-height:28px; height:auto}
.comm_info1 .t_left,.comm_info2 .t_left,.comm_info3 .t_left,.supDetail .t_left{ text-align:left;}
.comm_info1 .t_rgt,.comm_info2 .t_rgt,.comm_info3 .t_rgt,.supDetail .t_rgt{ text-align:right;}
.comm_info1 .t_reply,.comm_info2 .t_reply,.comm_info3 .t_reply,.supDetail .t_reply{ text-align:left; padding:4px;}
.t_reply_bg{background:#f1e5ef; border-radius:3px;}
.t_reply_text{color:#524e52; text-indent:0.5em}
.comm_info1 .t_date,.comm_info2 .t_date,.comm_info3 .t_date,.supDetail .t_date{ font-size:12px; color:##524e52; padding-right:8px}
.comm_info1 .t_user,.comm_info2 .t_user,.comm_info3 .t_user,.supDetail .t_user{ font-size:14px; color:#999; line-height:24px;}
.info_star{height:30px; cursor:pointer;text-indent:-9999px; background-position:0 0; background:url(../images/star.png) no-repeat;} 
.info_star_score{color:#aa187d; font-family:Arial, Helvetica, sans-serif; font-size:14px; position:absolute; left:140px; top:2px; z-index:1000; display:inline}

/*营销推广 -- 品牌之窗*/
.sList{ margin-top:6px}
.sList tr td{ width:25%; position:relative;}
.sList a{ text-decoration:none; cursor:pointer; width:74px; height:90px; display:block; margin:0 auto; color:#181e20;}
.sList a:active{border-radius:3px; background:#666; -webkit-opacity:0.7; color:#fff}
.sList tr td .sList_pic{ background:url(../images/sList_bg.png); background-repeat:no-repeat; background-size:66px 66px; height:66px; width:66px; margin:0 auto; position:relative; padding-bottom:30px}
.sList tr td .sList_pic img{height:54px; width:58px; display:block; border-radius:6px; border:1px; position:absolute; top:3px; left:4px}
.sList tr td .sList_pic span{ text-align:center; font-family:"微软雅黑"; font-size:14px; display:block; position:absolute; top:70px; width:66px}

/*营销推广--中烟详情*/
.sDetail{ background:f2f2f2; width:100%;}
.sDetail_box{ margin:4px 6px 8px 6px;}
.sDetail_pic,.sDetail_text{padding:6px 10px; margin:0 auto;}
.sDetail_text p,.sDetail_info_text p{color:#747677; font-size:16px; font-family:"微软雅黑"; line-height:26px;}
.sDetail_info_title{ background:#e0bbd4; width:100%; height:40px; line-height:40px; color:#79005e; font-size:18px; font-family:"微软雅黑"; text-indent:1em;}
.sDetail_info{ position:relative;}
.sDetail_info_pic{ margin:8px 6px; background-color:#f2f2f2; width:154px; height:100px; -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2); float:left}
.sDetail_info_pic img{ margin:0 auto; padding:3px 0; width:144px; height:94px; display:block}
.sDetail_info_btn a{ position:absolute; right:12px; top:52px; height:32px; width:80px; background: -webkit-gradient(linear,center top,center bottom,from(#fff), color-stop(0.64,#e6e6e6), to(#efdde9)); box-shadow:1px 1px 2px #ceb8c6; border-radius:5px 5px; border:1px solid #d2aeca; color:#420039; text-align:center; line-height:32px; text-shadow:1px 1px 1px #fff; font-family:"微软雅黑"; font-size:16px; text-decoration:none;cursor:pointer; display:block}
.sDetail_info_btn a:active{ background: -webkit-gradient(linear,center top,center bottom,from(#efdde9), color-stop(0.64,#e6e6e6), to(#fff)); height:32px;width:80px;}
.sDetail_info_text{ margin-top:52px; padding:0 8px;}

/*中烟品牌规格列表*/
.trade_box,.cust_box,.custHistory{ border-radius:5px; background-color:#fff; -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.3); margin:6px 4px;color:#838383; font-size:16px; font-family:"微软雅黑"; line-height:36px;text-indent:0.6em; display:block; height:auto}
.trade_box span{ width:90px; float:left; display:block}
.trade_box ul li{ list-style:none; float:left; color:#420039; height:36px; width:20%; cursor:pointer; text-align:center}
.trade_box li.on{background-color:#c35da4; border-radius:5px; color:#fff;  height:30px; width:20%; line-height:30px; margin:3px 0; text-align:center; padding-right:4px}

/*在线订货 -- 添加商品*/
.cust_orderBox{ border:0;box-shadow:0px 1px 1px #c0c0c0; display:block;font-family:"微软雅黑"; font-size:14px; color:#181e20;height:auto;overflow:scroll; position:fixed; top:54px; right:4px; left:4px;}
.suggest_search{ background:#e0bbd4; border-radius:5px 5px 0 0; height:42px; border-bottom:2px solid #aa6499;}
.btn_search{ background:url(../images/btn_search_1.png); background-repeat:no-repeat; background-size:50px 34px; width:50px; height:34px; margin-bottom:4px;}
.btn_search:active{background:url(../images/btn_search_2.png); background-repeat:no-repeat; background-size:50px 34px;}

.btn_index{ background:url(../images/t_btn_bg_1.png) no-repeat;background-size:50px 34px; width:50px; height:34px; cursor:pointer; text-align:center;font-weight:700; font-family:"微软雅黑"; font-size:14px; color:#79005e; line-height:32px; margin-bottom:4px;}
.btn_index:active{ background:url(../images/t_btn_bg_2.png) no-repeat;background-size:50px 34px; width:50px; height:34px; }

.s_textbox{ border:0; border-radius:5px; line-height:34px; width:100%; height:34px; margin:4px 4px 8px; text-indent:0.5em; color:#747677;  display:block; /*margin-right:-120px;float:left;*/}
.s_info{ position:relative}
.s_info_bd{font-size:14px;line-height:30px; }
.s_info_title{ background:#efdde9; color:#420039; text-shadow:1px 1px 1px #fff; font-family:Arial, Helvetica, sans-serif; text-indent:0.8em; font-weight:bold; line-height:16px; height:16px; font-size: 12px;}

/*索引*/
.index{ position:fixed; right:5px; top:98px; display:block; z-index:1000; height:auto; width:250px;background:#f9f9f9;-webkit-box-shadow:-2px 1px 10px rgba(0,0,0,0.2); }
.index .indexLink a:active{ background:#a65395; color:#fff;}
.index table tr td{ text-align:center; border:1px solid #efdde9; width:50px; height:50px; margin:0; padding:0; line-height:50px}
.index .indexLink { width:50px; height:50px;}
.index .indexLink a{ text-decoration:none; cursor:pointer; color:#a65d94; font-family:Arial, Helvetica, sans-serif; font-size:14px; z-index: 1000; width:50px; height:50px;display:block; width:100%;}

.cust_SInfo{ width:auto;background-color:#fff;height:auto; border-left:1px solid #d2aeca; border-right:1px solid #d2aeca; position:fixed; left:4px; right:4px; bottom:16px; display:block;}
.cust_SInfo_bottom{ width:auto;background-color:#fff;height:14px; border-left:1px solid #d2aeca; border-right:1px solid #d2aeca; border-bottom:1px solid #d2aeca; border-radius:0 0 5px 5px; position:fixed; left:4px; right:4px;bottom:10px;}
/*营销推广 -- 卷烟信息查询*/
.query_top{ background:#e0bbd4; border-radius:5px; height:44px; width:auto; margin:0 4px}
.query_textbox{ border:0; border-radius:5px; line-height:34px; display:block; width:98%; height:34px; float:left; margin:4px; text-indent:0.5em; color:#747677; vertical-align:middle}
.query_btn{ background:url(../images/t_btn_bg_1.png); background-repeat:no-repeat;background-size:34px 34px; width:34px; height:34px; cursor:pointer; margin:5px auto; position:relative}
.query_btn:active{background:url(../images/t_btn_bg_2.png); background-repeat:no-repeat; background-size:34px 34px;}
.query_filter,.query_filter:active{ background-size:50px 34px; width:50px; height:34px;}
.query_filter span{ color:#79005e; text-align:center; text-shadow:1px 1px 1px #fff; font-size:14px; line-height:32px; display:block; font-family:"微软雅黑"}
.q_icon_bg{ background:url(../images/t_icon.png) 0 0 no-repeat; width:20px; height:18px; background-size:20px 36px;}
.q_search,.q_scan{margin:6px; position:absolute;}
.q_search{ background-position:0 0;}
.q_scan{ background-position:0 -18px;}

.query_btn2{ background:url(../images/btn_bg_1.png); background-repeat:no-repeat;background-size:98px 40px; width:98px; height:40px; cursor:pointer; margin:2px auto; position:relative}
.query_btn2:active,.query_btn2.query_btn2_on{background:url(../images/btn_bg_2.png); background-repeat:no-repeat; background-size:98px 40px;}
.btn2_icon_bg{ background:url(../images/icon.png) 0 0 no-repeat; background-size:18px 98px; width:18px; height:16px}
.btn2_icon_popularity,.btn2_icon_price,.btn2_icon_score{ width:18px; height:16px; position:absolute;margin:10px 0 8px 20px;}
.btn2_icon_addPro,.btn2_icon_news,.btn2_icon_save{width:18px; height:16px; position:absolute; margin:10px 0 8px 12px}
.brand_btn2_text,.cust_btn2_text{ color:#79005e; text-shadow:1px 1px 1px #fff; font-size:14px; font-family:"微软雅黑";position:absolute;line-height:40px}
.brand_btn2_text{margin-left:40px;}
.cust_btn2_text{ margin-left:30px;}

.btn2_icon_popularity{ background-position:0 0;}
.btn2_icon_price{ background-position:0 -16px;}
.btn2_icon_score{ background-position:0 -33px;}
.btn2_icon_addPro{ background-position:0 -49px}
.btn2_icon_news{ background-position:0 -65px;}
.btn2_icon_save{ background-position:0 -82px;}

.filter_bg{ background:#fff; position:absolute; -webkit-box-shadow:-1px 1px 2px rgba(0,0,0,0.2); width:100%; z-index:1000; right:0px; top:51px; display:block}
.filter_title{ height:30px; background:#e0bbd4; text-indent:1em; color:#420039; line-height:30px; font-size:15px; font-family:"微软雅黑"}
.filterBd ul{ margin-top:4px; color:#420039;}
.filterBd ul li{ list-style:none; float:left; height:28px; width:25%; cursor:pointer; text-align:center; font-size:13px; font-family:"微软雅黑";line-height:28px;margin:0px 0px 4px 0px;}
.list_name{ font-weight:bold; color:#83005c; }
.filterBd li.on{ background:#c35da4; border-radius:5px; color:#fff;line-height:28px;text-align:center;}
.filter_btn{height:34px; width:40%; background: -webkit-gradient(linear,center top,center bottom,from(#fff), color-stop(0.64,#e6e6e6), to(#efdde9)); box-shadow:1px 1px 2px #ceb8c6; border-radius:5px; border:1px solid #d2aeca; color:#420039; text-align:center; line-height:34px; text-shadow:1px 1px 1px #fff; font-family:"微软雅黑"; font-size:15px; text-decoration:none; display:block; cursor:pointer;float:left; margin:20px 4% 80px 4%; }
.filter_btn:active{ height:34px; width:40%; background: -webkit-gradient(linear,center top,center bottom,from(#efdde9), color-stop(0.64,#e6e6e6), to(#fff));}

/*在线订货*/
.cust_box{ height:30px;}
.cust_box table tr td{text-align:left; line-height:30px;color:#747677;font-size:12px; font-family:"微软雅黑";}
.cust_box font{color:#aa187d;font-family:Arial, Helvetica, sans-serif;}
.cust_thead{background-color:#f8f2f7; height:35px; line-height:35px; z-index:100; border-left:1px solid #d2aeca; border-right:1px solid #d2aeca; width:auto}
.cust_tbody{ width:auto;background-color:#fff; max-height:900px; height:auto; border-left:1px solid #d2aeca; border-right:1px solid #d2aeca; position:fixed; right:4px; left:4px; bottom:35px; display:block;}
.cust_foot{ border:1px solid #d2aeca; border:1px 1px 1px 0; height:35px; line-height:35px; color:#747677; background:#f8f2f7;border-radius:0 0 5px 5px; font-weight:600; position:fixed;left:4px; right:4px; width:auto; font-size:12px;}
.cust_thead table tr td,.cust_tbody table tr td,.cust_foot table tr td{ list-style:none; cursor:pointer; text-align:center;line-height:35px;}
.cust_line{border-bottom:1px solid #f2f2f2;}
.cust_table2_text{font-size:14px; color:#747677;font-family:Arial, Helvetica, sans-serif;}
.btn_delete{ background:url(../images/btn_del_1.png) no-repeat; background-size:28px 28px; width:28px; height:28px; margin:0 auto; z-index:1001}
.btn_delete:active{ background:url(../images/btn_del_2.png) no-repeat;background-size:28px 28px;}


/*历史订单查询*/
.custHistory{ height:36px;}
.custHistory table{ list-style:none; font-size:14px; text-align:center;font-family:"微软雅黑", Arial;}
.h_list,.d_list{background-color:#fff; font-family:"微软雅黑";  color:#181e20; height:auto; cursor:pointer; color:#747677; border-radius:5px;}
.h_list thead tr,.d_list .d_thead{ width:100%; font-size:16px; background-color:#f8f2f7; }
.h_list thead tr td, .d_list d_thead{ text-align:center; line-height:36px ;font-weight:normal}
.h_list tbody,.d_list tbody,.p_list tbody{ font-size:14px;}
.h_list tbody tr,.d_list tbody tr{ font-family:"微软雅黑", Arial; border-bottom:1px solid #f2f2f2;}
.h_list tbody tr td,.d_list tbody tr td{text-align:center;}
.d_list tfoot{ color:#79005e}

/*订单明细*/
.cust_orderbox{border:1px solid #d2aeca; border-radius:5px; box-shadow:0px 1px 1px #c0c0c0; display:block; background-color:#fff; font-family:"微软雅黑"; font-size:16px; color:#181e20; margin:4px 4px 6px 4px; overflow:hidden; cursor:pointer; line-height:36px; text-indent:1em; color:#747677;}
/*毛利查询*/
.profit_text{font-family:"微软雅黑"; font-size:16px; color:#79005e; text-shadow:0px 1px 1px #fff; text-align:center;}
.p_list tbody tr{ font-family:"微软雅黑", Arial; border-bottom:1px solid #d2aeca;}
.p_list tbody tr td{text-align:left; color:#747677;}
.p_list .p_name{width:80px}
.p_list .p_text{ color:#8b3679;}

/*星级评分*/
.custname{ text-indent:0.6em; font-family:"微软雅黑"; font-size:16px; color:#79005e; text-shadow:0px 1px 1px #fff; width:80px}
.select_month{ border:0; border-radius:5px; line-height:36px; display:block; height:34px; text-indent:0.5em; color:#747677; position:relative; background:#fff; z-index:1000; font-family:"微软雅黑", Arial; font-size:14px;}
.select_month:active{ background:#f1f1f1;}
.select_month_btn{ background:url(../images/dropdown_1.png) no-repeat;width:30px; height:35px; background-size:30px 35px; position:absolute; right:-1px; top:0; display:inline-block}
.select_month_btn:active{  background:url(../images/dropdown_2.png) no-repeat;width:30px; height:35px; background-size:30px 35px;}
.custScore{ width:100%; height:36px}
.cust_comm_title{ text-indent:10px;}
.custScore span{float:right; font-family:"微软雅黑"; font-size:16px; line-height:36px; margin-right:16px; color:#79005e; }
.custTable thead,.custTable_level1{ line-height:40px; font-family:"微软雅黑"; font-size:15px; font-weight:700; color:#79005e; background:#efdde9;}
.custTable tr td{ text-align:center; font-size:14px; font-family:"微软雅黑"; color:#747677; line-height:40px;}
.custTable tr{ border-bottom:1px solid #f2f2f2;}
/*星级评分标准*/
.cust_title{ color:#6a0156; text-align:center; font-family:"微软雅黑"}
.cust_table1 tr td{ text-indent:0.8em; cursor:pointer; line-height:30px; font-size:14px; width:100%; border:0}
.cust_table2 tr td{text-indent:2em; line-height:30px; font-size:14px;} 
.cust_table2 tr td span{ padding-left:14px; padding-right:4px}
.cust_table3 tr td{text-indent:2.8em;line-height:30px; font-size:14px;}
.cust_table4 tr td{text-indent:3.2em;line-height:30px; font-size:14px;}
/*下拉框*/
.dropDown{padding-right:2px; width:auto; display:block; padding-top:4px; padding-left:2px}
.dropDownList{ border-radius:5px; border:1px solid #c87fb2; background:#faf3f8; box-shadow:-1px -1px 2px rgba(0,0,0,0.2) inset; max-height:150px; height:auto; z-index:1000; position:absolute; top:38px; left:80px; right:38px; margin-right:4px; overflow-y:scroll}
.dropDownList ul li,.p_dropDownList ul li,.sup_dropDownList ul li,.dropDownList3 ul li,.f_dropDownList ul li,.dropDownList4 ul li,.dropDownList5 ul li,.dropDownList6 ul li{ list-style:none; line-height:28px; font-family:Arial, Helvetica, sans-serif; font-size:14px; text-indent:0.8em; color:#6f5e7e;cursor:pointer;}
.dropDownList ul li.on,.p_dropDownList ul li.on,.sup_dropDownList ul li.on,.dropDownList3 ul li.on,.f_dropDownList ul li.on,.dropDownList4 ul li.on,.dropDownList5 ul li.on,.dropDownList6 ul li.on{ background:#c35da4; color:#fff;}
.p_dropDownList{ border-radius:5px; border:1px solid #c87fb2; background:#faf3f8; box-shadow:-1px -1px 2px rgba(0,0,0,0.2) inset; max-height:160px; height:auto; z-index:1000; position:absolute; margin-right:2px; overflow-y:scroll;}
.p_dropDownList1{top:38px; left:16%;right:50%}
.p_dropDownList2{top:38px; left:54%;right:12%}
.p_dropDownList3{top:78px; left:80px;width:100px;}
.p_dropDownList4{top:120px; left:80px;width:100px;}
.sup_dropDownList{ border-radius:5px; border:1px solid #c87fb2; background:#faf3f8; box-shadow:-1px -1px 2px rgba(0,0,0,0.2) inset; max-height:160px; height:auto; z-index:1000; margin-right:2px; overflow-y:scroll; position:absolute;top:92px; left:5px;}
.dropDownList3{ border-radius:5px; border:1px solid #c87fb2; background:#faf3f8; box-shadow:-1px -1px 2px rgba(0,0,0,0.2) inset; max-height:160px; height:auto; z-index:1000; margin-right:2px; overflow-y:scroll; position:absolute;top:92px;  width:70px}
.dropDown4{padding-right:2px; width:auto; display:block; padding-top:0px; padding-left:2px}
.dropDownList4{ border-radius:5px; border:1px solid #c87fb2; background:#faf3f8; box-shadow:-1px -1px 2px rgba(0,0,0,0.2) inset; max-height:160px; height:auto; z-index:1000; margin-right:2px; overflow-y:scroll; position:absolute;top:94px; left:46px; right:90px;}
.dropDownList5{ border-radius:5px; border:1px solid #c87fb2; background:#faf3f8; box-shadow:-1px -1px 2px rgba(0,0,0,0.2) inset; max-height:160px; height:auto; z-index:1000; margin-right:2px; overflow-y:scroll; position:absolute;top:94px; left:46px; right:40px;}
.dropDownList6{ border-radius:5px; border:1px solid #c87fb2; background:#faf3f8; box-shadow:-1px -1px 2px rgba(0,0,0,0.2) inset; max-height:160px; height:auto; z-index:1000; margin-right:2px; overflow-y:scroll; position:absolute;top:94px; left:44px; right:162px;}
.f_dropDownList{ border-radius:5px; border:1px solid #c87fb2; background:#faf3f8; box-shadow:-1px -1px 2px rgba(0,0,0,0.2) inset; max-height:150px; height:auto; z-index:1001; position:absolute; margin-right:4px; overflow-y:scroll;}
.f_dropDownList1{top:136px; left:82px; right:2px;}
.f_dropDownList2{top:180px; left:82px; right:2px;}

/*购物车*/
.btnClose{ background:#9d7794; border-radius:0px 8px 0 8px; width:30px; height:30px; float:right;}
.btnClose_img{ background:url(../images/btnClose.png) no-repeat; background-size:14px 14px; height:14px; width:14px; display:block; margin:8px auto;}
.btnClose:active{ -webkit-box-shadow:2px 0px 5px #5a224b inset;}
.shoppingcart{ background:#e0bbd4; border-radius:8px; width:300px; height:360px; z-index:1000; -webkit-box-shadow:0px 2px 5px rgba(0,0,0,0.5); display:block; left:50%; position:fixed; top:2%; margin-left:-150px;}
.numKeys{ border-radius:8px; background:#9d7794; margin:6px;}
.numKeys table{ color:#fff; font-family:"微软雅黑", Arial; font-size:16px; line-height:40px; text-align:center; text-shadow:1px 1px 1px #5a224b;}
.numKeys table tr{ border-bottom:1px solid #e0bbd4;}
.numKeys table tr td{ border-right:1px solid #e0bbd4; cursor:pointer}
.numKeys table tr td:active{ -webkit-box-shadow:2px 0px 5px #5a224b inset;}
.numKeys .btnBackspace{ background:url(../images/btn_backspace1.png) no-repeat; background-size:50px 26px; width:50px; height:26px; margin:0 auto;}
.numKyes .btnBackspace:active{ background:url(../images/btn_backspace2.png) no-repeat; background-size:50px 26px; width:50px; height:26px;}
.cust_name{ font-family:"微软雅黑", Arial; color:#500d40;}
.cust_name .n_left{  margin-left:8px;font-size:16px; line-height:34px; font-weight: bold;}
.cust_name .n_right{ margin-left:8px;font-size:16px; line-height:42px;}
.btn_num{ width:254px; height:38px; margin:10px auto 2px; cursor:pointer}
.btn_add{ background:url(../images/num_add_1.png) no-repeat; width:30px; height:38px; background-size:30px 38px; float:left}
.btn_add:active{ background:url(../images/num_add_2.png) no-repeat; width:30px; height:38px; background-size:30px 38px;}
.btn_minus{ background:url(../images/num_minus_1.png) no-repeat;width:30px; height:38px; background-size:30px 38px; float:left}
.btn_minus:active{ background:url(../images/num_minus_2.png) no-repeat;width:30px; height:38px; background-size:30px 38px;}
.num_textbox{ border:0; border-radius:0; background:#fff; height:36px; width:194px; float:left; line-height:36px; margin:1px 0; font-size:14px; text-align:center; color:#747677; font-family:Arial, Helvetica, sans-serif;}
.btn_cancel{ margin-left:0px;}
.btn_ok{ background:url(../images/btn_bg_1.png) no-repeat;background-size:70px 36px; width:70px; height:36px; cursor:pointer; text-align:center; font-family:"微软雅黑"; font-size:14px; color:#79005e; line-height:34px; float:left; margin:0 15px;}
.btn_ok:active{ background:url(../images/btn_bg_2.png) no-repeat;background-size:70px 36px; width:70px; height:36px; }

/*经营建议*/
.operation span{ text-align:center; display:block; float:left}
.o_thead{border-radius:5px 5px 0 0; background-color:#f1e5ef; border:0; font-size:16px; line-height:36px; color:#79005e; font-family:"微软雅黑", Arial; text-indent:0.8em; text-align:left}
.o_thead1{ border-radius:0;}
.o_thead2{background-color:#e1bbd4;}
.o_thead2 table tr td{text-align:center;font-size:16px; color:#79005e; font-family:"微软雅黑", Arial; text-shadow:1px 1px 1px #fff}
.o_head1{background-color:#fcf6fa; height:40px; line-height:40px; font-size:14px; font-family:"微软雅黑";}
.o_head1 table tr td{text-align:center;}
.o_tbody{ width:100%; height:auto; font-family:"微软雅黑";}
.o_tbody table tr td{ height:40px; line-height:40px; font-size:14px; text-align:center}
.o_tbody tr{border-bottom:1px solid #f2f2f2;}
.o_thead ul li,.o_tbody tr td,.o_tfoot ul li{ cursor:pointer;}

/*数据分析*/
.sup_thead{ text-align:center;border-radius:5px 5px 0 0; background-color:#f1e5ef; border:0; font-size:14px; line-height:36px; color:#79005e; font-family:"微软雅黑", Arial; text-indent:0.8em; }
.sup_thead li{ list-style:none; float:left;background-color:#f1e5ef; line-height:36px;}
.sup_tbody{ width:100%; height:auto; font-family:"微软雅黑";}
.sup_tbody table tr td{ font-size:14px; text-align:center;height:40px; line-height:23px; text-indent:0.6em}
.sup_tbody tr{border-bottom:1px solid #f2f2f2;}

.btnSet,.btnFilter{ background:url(../images/btnSet1.png); background-repeat:no-repeat;background-size:50px 34px; width:50px; height:34px; cursor:pointer; margin:5px auto; position:relative}
.btnSet:active,.btnFilter:active{background:url(../images/btnSet2.png); background-repeat:no-repeat; background-size:68px 34px;}
.btnSet span,.btnFilter span{ color:#79005e; text-align:center; text-shadow:1px 1px 1px #fff; font-size:14px; line-height:32px; display:block; font-family:"微软雅黑"}
.sup_searName{ font-size:14px; font-family:"微软雅黑", Arial; text-shadow:1px 1px 1px #fff; line-height:44px; text-indent:4px;}
.sup_textbox{ border:0; border-radius:5px; line-height:34px; display:block; width:98%; height:34px; margin:4px; margin-left: text-indent:0.5em; color:#747677; vertical-align:middle}

/*投诉建议*/
.opinionChoose{ margin-top:2px;}
.opinionChoose ul li{ list-style:none; float:left; color:#420039; cursor:pointer; text-align:center; line-height:36px; margin:0 6px; font-size:14px; font-family:"微软雅黑", Arial; width:50px;}
.opinionChoose ul li.on{background-color:#c35da4; border-radius:5px; color:#fff; line-height:30px; margin:3px 6px; text-align:center;}
.opinionTitle{ height:34px; background:#f8f1f8; width:100%; line-height:34px; font-family:"微软雅黑"; font-size:16px; text-indent:1em; margin-bottom:8px;}
.opinionText textarea{border:1px solid #cccccc; border-radius:5px; line-height:28px; display:block; width:98%; height:150px; margin:0 auto 12px auto; font-size:14px; overflow:hidden; font-family:"微软雅黑"; text-indent:0.8em}

.opinionHistory{ font-family:"微软雅黑", Arial; font-size:14px;}
.order_box3 table tr td{ line-height:28px; text-indent:0.6em; width:auto; cursor:pointer;}
.opinionReply{ background:#f1e5ef; border-radius:5px; margin:8px auto; color:#524e52;}
.reply_rgt{ text-align:right; padding-right:4px}
{border-bottom:1px solid #f2f2f2}
/*显示设置*/
.set_bg{ position:absolute; width:100%; z-index:1001; right:0px; top:50px; display:block; background:#fff; bottom:0}
.set_title{ height:38px; background:#f1e5ef; text-indent:1em; color:#420039; line-height:38px; font-size:16px; font-family:"微软雅黑"; text-align:center}
.set_table{ font-family:"微软雅黑", Arial; font-size:14px; text-align:left; line-height:36px; text-indent:8px; cursor:pointer;}

/*合理定量*/
.custRQ_text{border:1px solid #d2aeca; border-radius:5px; box-shadow:0px 1px 1px #c0c0c0; display:block; background-color:#fff; font-family:"微软雅黑"; font-size:14px; line-height:26px; margin:4px; cursor:pointer;color:#747677; height:80px;}
.custRQ_text span{ display:block;}
.custRQ_lft{ float:left; padding-left:6px}
.custRQ_rgt,.custBal_rgt{ float:right; padding-right:6px}
.custRQA_reason textarea{border:0; border-radius:0 0 5px 5px; line-height:24px; display:block; width:100%; height:230px; font-size:14px; overflow:hidden; font-family:"微软雅黑"; text-indent:0.6em; }
.custRQ_align table tr td{ text-align:left;}
.order_box5{border:1px solid #d2aeca; border-radius:5px; box-shadow:0px 1px 1px #c0c0c0; display:block; background-color:#fff; font-family:"微软雅黑"; font-size:14px; color:#181e20;height:auto; margin-left:4px; margin-right:4px;  margin-bottom:6px; overflow:hidden; cursor:pointer}
.order_box5 table tr td{ text-align:left; line-height:36px;}
.order_box5 table tr td font{ color:#aa187d;}
.tr_bg{ background:#f8f2f7; width:100%; border-radius:0px 5px; border-bottom:0;}

/*我的余额*/
.custBal_table{ background:#fff;}
.custBal_info{font-family:"微软雅黑", Arial; color:#747677; font-size:14px; line-height:28px}
.custBal_lft{ float:left;}

/*订货说明*/
.help_title1,.help_title3{ background:#ecd9e9; width:100%; height:30px; font-family:"微软雅黑"; font-size:16px; color:#5f0379;}
.help_title1 img{ margin-left:6px; display:block; float:left; margin-top:6px}
.help_title1 span{ line-height:30px; padding-left:6px;display:block; float:left}
.help_title2{ background:#f8eef4; width:100%; height:26px; font-family:"微软雅黑"; font-size:14px; color:#5f0379; text-indent:6px; line-height:26px;}
.help_main1,.help_main2{ background:#fff;font-family:"微软雅黑"; font-size:14px; color:#4c4c4c; line-height:22px;}
.help_main1 font,.help_main2 font{ margin:4px 4px 8px 4px; display:block;}
.help_main1_img,.help_main2_img{ width:100%; height:auto;}
.help_main1_img img{ display:block; margin:4px auto;}
.help_main2_img img{ display:block; margin:4px 4px 4px 0px; float:left}
.help_main1 font span{ color:#ed4c59}
.help_title3 span{ text-align:center; color:#5f0379; width:100%; font-size:14px; line-height:30px; display:block}

/*立即支付*/
.pay_box{ margin:20px 4px auto 4px; display:block; font-family:"微软雅黑"; font-size:16px; color:#181e20;height:auto; overflow:hidden; cursor:pointer}
.pay_box_font1{ line-height:26px;}
.pay_box_font1 span{ font-weight:700; font-family:Arial, Helvetica, sans-serif; font-size:20px;}
.pay_box_font1 .payImg{ background-image:url(../images/money_bag.png); background-size:24px 24px; width:24px; height:24px; background-repeat:no-repeat; float:left; margin-right:4px}
.pay_box_font2{ font-size:12px; color:#818181; line-height:30px; margin-bottom:10px;}
.cardChoose{ background:#fff; border:1px solid #b7b7b7; width:98%; height:50px; margin:0 auto 6px auto; display:block}
.cardChoose.cardChoose_on{ border:3px solid #f49a0b;}
.card{ float:left;}
.card_text{ float:right; font-family:Arial, Helvetica, sans-serif; line-height:20px; margin-right:8px;}
.card_text .card_text1{ font-size:14px; color:#545454; line-height:26px; text-align:right}
.card_text .card_text2{font-size:14px; color:#545454; font-family:"微软雅黑";}
.card_text .card_text2 span{ color:#148119; font-size:14px; font-weight:500;}


/*营销活动列表*/
.activity_list{ font-family:"微软雅黑"; background:#f2f2f2;}
.activity_list ul li{ list-style:none;}
.activity_list li{margin-top:1px; border-bottom:1px solid #ffffff; padding-top:4px; padding-bottom:4px; background: -webkit-gradient(linear,center top,center bottom,from(#fff), to(#ccc)); -webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.36);}
.activity_list ul li a{ overflow:hidden; display: -webkit-box; text-decoration:none; cursor:pointer;}
.activity_list .item_pic img{ height:88px; width:88px; display:block; margin:2px auto; border-radius:10px;}
.activity_list .item_pic{margin-left:2px; width:94px;height:94px; background:url(../images/activityList_bg.png) no-repeat; background-size:94px 94px;}
.activity_list .item_info{-webkit-box-flex:1; text-align:left; font-size:15px; line-height:26px; position:relative; color:#181e20; padding-left:4px;}
.activity_list .item_info em{ color:#a86d92; font-size:18px; font-style:normal;}
.activity_list .item_info font{ color:#747677; font-size:15px;}
.activity_list .item_info span{ color:#8a1564; font-size:18px; line-height:24px;}
/*数据分析报表新增查询*/
.quick_select_img{position:absolute; top:8px; left:4px}

.quick_select_input{border:0; border-radius:5px; height:34px; line-height:34px; text-indent:24px; vertical-align:middle; width:auto; background:#fff; width:98%; margin-left:2px;font-family:"微软雅黑", Arial; font-size:14px; color:#747677;}

.filter_checkbox{ border:1px solid #d5cdd4; border-radius:5px; line-height:36px; display:block; text-indent:0.5em; color:#834375; position:relative; background:#fff; font-family:"微软雅黑", Arial; font-size:14px; height:36px;}
.filter_checkbox:active{ background:#f1f1f1;}
.filter_checkbox_btn{ background:url(../images/dp_arrow_1.png) no-repeat;width:30px; height:35px; background-size:30px 35px; position:absolute; right:-1px; top:0; display:inline-block}


/*数据分析报表*/
.supData_list{ font-family:"微软雅黑"; background:#fff; border-radius:4px}
.supData_list ul li{ list-style:none;}
.supData_list li{ border-bottom:1px solid #f2f2f2;}
.supData_list ul li a{ overflow:hidden; display: -webkit-box; text-decoration:none; cursor:pointer;}
.supData_list .item_pic img{ height:60px; width:60px; display:block; margin:2px; border-radius:4px;}
.supData_list .item_pic{margin:6px; width:64px;height:64px; background:#fff; border:1px solid #f2f2f2; border-radius:4px;}
.supData_list .item_info{-webkit-box-flex:1; text-align:left; font-size:15px; line-height:26px; position:relative; color:#181e20; padding-left:4px;}
.supData_list .item_info{ color:#747677; font-size:18px; font-style:normal; line-height:76px; margin-left:4px}


/*零售户销售排名*/
.sup_tbody2{ width:100%; height:auto; font-family:"微软雅黑";}
.sup_tbody2 table tr td{ font-size:14px;text-indent:0.6em}
.sup_tbody2 tr{border-bottom:1px solid #f2f2f2;}
.sup_tbody2 .theads{ background:#f9eef4; line-height:38px}
.sup_tbody2 .text_center{ text-align:center}
.sup_tbody2 .tr_unit{ width:100%; font-family:"微软雅黑"; font-size:12px; color:#600376; background:#ecdaea; text-align:right; line-height:28px; border-radius:4px 4px 0 0;}
.sup_tbody2 .tr_height{ line-height:38px;}

/*客户信息*/
.custInfo tr{ border-bottom:1px solid #f2f2f2;}
.custInfo_fontLft{ text-align:left; padding-left:10px; color:#000; line-height:46px; font-size:14px;}
.custInfo_fontRgt{ text-align:right; padding-right:10px; color:#747677; line-height:46px; font-size:14px;}
.custInfo_fontRgt img{ width:16px; height:16px; vertical-align:middle}
.custInfo_fontRgt .custInfo_fontRgt_text1{ margin-right:20px; margin-left:8px; line-height:46px;}
.custInfo_fontRgt .custInfo_fontRgt_text2{ margin-left:6px; line-height:46px;}
.custInfo_getStars{height:30px; float:right; width:130px; cursor:pointer;text-indent:-9999px; background-position:0 0; background:url(../images/star.png) no-repeat;}

/*订单保存成功*/
div#saveOrdInfo{margin-top:10px;text-indent: 20px;font-size: 14px;margin-left:auto;margin:right:auto;width:290px;}
div#containBtnDiv{margin-top:10px;margin-bottom:10px;text-align:center;width:100%;align:center;margin-left:auto;margin-right:auto;}
div#containBtnDiv table{margin-right:auto;margin-left:auto;width:300px;}
div#containBtnDiv table td{widht:100px;text-align:center;}
.saveSuccessBtn{padding:5px;width:88px;background-color: #DBFFF7;text-align:center;height:30px;-webkit-appearance:none;}

/*公告*/
table#notices tr{height:40px;}

/*星级评分弹出框
update:2014.07.25
*/
.winBox{ position:fixed; width:92%; height:auto; left:4%; right:4%; top:30%; border:1px solid #d2aeca; border-radius:5px; box-shadow:0px 1px 1px #c0c0c0; display:none; background:#fff; font-family:"微软雅黑"; font-size:16px; color:#181e20; cursor:pointer; z-index:1002;}
.winBox_title{ line-height:34pt; font-size:18px; font-weight:800; text-align:center; background:#f8f2f7; -webkit-border-radius:4px 4px 0 0; border-bottom:1px solid #d2aeca;}
.winBox_table tr{}
.winBox_table tr td{ line-height:28pt; font-size:14px; overflow:hidden}
.winLft{ text-align:left; padding-left:6pt; border-right:1px solid #d2aeca; width:70%;}
.winRgt{ text-align:center; width:30%;}
.winBtn{ height:40pt;}

/*服务评价
update:2014.07.29
*/
.serEvaImgs{ float:left; margin:10px 10px;}
.serEvaBox{ width:auto; text-indent:12px; font-size:16px; line-height:28px; padding:10px 8px;  border-left:1px solid #d2aeca; border-right:1px solid #d2aeca; border-bottom:1px solid #d2aeca; -webkit-border-radius:0 0 4px 4px; background-color:#fff;height:auto}
.serListImg,.serListName{ float:left;}
.serListImg{ margin:8pt 8pt auto 8pt;}
.serListName{ line-height:70pt;}

.serListName{float:left;}
.serListName span{color:#000; font-size:14px;text-align:left; display:block; line-height:24px; margin-top:20px;}
.serListName ul{padding:0; display:block;}
.serListName li{float:left;width:26px; cursor:pointer;text-indent:-9999px; background:url(../images/star_02.png) no-repeat; height:30px}
.serListName li.on{background-position:0 -60px;}
.serListName li.half{background-position:0 -30px;}
