.tabs { position: relative; width:100%;}
.tabs ul{ list-style:none;}
.tabs ul li{ float:left; height:36px; color:#aa187d; font-size:14px; font-family:"微软雅黑"; text-align:center; background-color:#fff; line-height:36px; cursor:pointer;}
.tabs ul li.on{ color:#fff; background-color:#c35da4; border:0;}
.tabs .line{ border-left:1px dotted #a3a3a3; margin:8px 0;}
.tabInfo{ border:1px solid #d2aeca; border-radius:5px; box-shadow:0px 1px 1px #c0c0c0; display:block; background:#fff;margin-left:5px; margin-right:5px; }
